<div class="box">
    <div class="grid grid-cols-12  gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full"
                    src="https://i.pinimg.com/236x/fb/28/c6/fb28c634255a3bfdf1024f807b0d6e37.jpg" alt="">
            </div>
        </div>

        <div class="col-span-6 lg:col-span-9">
            <div class="">
                <div>
                    <p class="font-semibold mb-0  text-lg">Oriz</p>
                    <p class="opacity-70">March 13, 2023</p>
                </div>

                <div>
                    <app-start-rating/>
                </div>

                <p>Nice product, i like this</p>
            </div>
        </div>
    </div>
</div>