<div class="box">
  <div class="grid grid-cols-6">
    <div class="col-span-3">
      <div class="flex items-center w-full">
        <img
          class="w-[5rem] h-[5rem] object-cover object-top"
          src="https://aristino.com/Data/ResizeImage/images/product/ao-polo/aps167s3/1-09-1-x500x500x4.webp"
          alt=""
        />

        <div class="ml-5">
          <p class="font-semibold text-lg">Product Title</p>
          <p class="text-sm text-gray-400">Size: M</p>
          <p class="text-sm text-gray-400">Color: Blue</p>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <p class="font-semibold text-lg">199</p>
    </div>

    <div class="col-span-2">
      <p class="font-semibold text-lg">Expected Delivery On Mar 13</p>
      <p class="text-sm">Your Item Has Been Delivered</p>
    </div>
  </div>
</div>
