/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html::-webkit-scrollbar{
  display: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box {
  box-shadow: #000000 0px 5px 15px;
  padding: 15px;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}






