<main class="mt-10">
  <div class="py-10 lg:grid grid-cols-3 lg:px-16 relative">
    <section class="lg:col-span-2 lg:px-5">
      <div class="box p-5 space-y-3">
        <ng-container *ngIf="cart">
          <div *ngFor="let item of cart; let last = last">
            <app-cart-items [showButton]="true" [cartItem]="item" />
            <mat-divider *ngIf="!last" />
          </div>
        </ng-container>
        <ng-container *ngIf="cart.length == 0">
          <p>nothing in your cart</p>
        </ng-container>
      </div>
    </section>

    <section class="px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0">
      <ng-container *ngIf="cart">
        <div class="box p-5 rounded-md">
          <p class="font-bold text-gray-500 pb-4">Price Details</p>
          <mat-divider> </mat-divider>

          <div class="space-y-3">
            <div class="flex justify-between pt-3">
              <span>Total Price</span>
              <span>${{ cart.totalPrice }}</span>
            </div>
            <div class="flex justify-between pt-3">
              <span>Discount</span>
              <span class="text-gray-700">-{{ cart?.discount }}</span>
            </div>
            <div class="flex justify-between pt-3">
              <span>Delivery Cost</span>
              <span class="text-gray-700">Free</span>
            </div>
            <div class="flex justify-between pt-3 font-semibold text-lg">
              <span>Total</span>
              <span class="text-gray-700"
                >${{ cart?.totalDiscountdePrice }}</span
              >
            </div>
          </div>

          <button
            mat-raised-button
            (click)="navigateToCheckout()"
            style="padding: 1.5rem"
            class="text-lg mt-8 p-28 px-10 w-full"
            color="black"
          >
            CHECKOUT
          </button>
        </div>
      </ng-container>
    </section>
  </div>
</main>
