.carousel{
    display: flex;
    transition: transform 0.6 ease-in-out;

}

.carousel-item{
    flex: 0 0 auto;
    width: 100%;

}

.carousel-item image {
    width: 100%;
    height: auto;
}