<div class="text-left w-full mt-10 px-5 lg:px-36">
  <div class="container">
    <div class="py-3 flex justify-between">
      <div class="px-4">
        <h3 class="text-gray-500 text-lg font-semibold">VỀ CHÚNG TÔI</h3>
        <p class="mb-2">Câu chuyện thương hiệu</p>
        <p class="mb-2">Đôi Cánh Yêu Thương</p>
        <p class="mb-2">Tin tức</p>
        <p class="mb-2">Liên hệ</p>
      </div>
      <div class="px-4">
        <h3 class="text-gray-500 text-lg font-semibold">CHÍNH SÁCH BÁN HÀNG</h3>
        <p class="mb-2">Chính sách đổi hàng</p>
        <p class="mb-2">Chính sách bảo hành</p>
        <p class="mb-2">Chính sách hội viên</p>
        <p class="mb-2">Chính sách giao nhận</p>
        <p class="mb-2">Chính sách bảo mật</p>
      </div>
      <div class="px-4">
        <h3 class="text-gray-500 text-lg font-semibold">TƯ VẤN</h3>
        <p class="mb-2">Tư vấn phong cách</p>
        <p class="mb-2">Tư vấn chọn size</p>
        <p class="mb-2">Hỏi đáp</p>
      </div>
      <div class="px-4">
        <h3 class="text-gray-500 text-lg font-semibold">CONNECT WITH US</h3>
        <div class=" space-x-1">
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
        </div>
      </div>
      

     
    </div>
    <div class="flex justify-between py-3">
        <div class="">
            <p>CÔNG TY CỔ PHẦN ĐẦU TƯ K&G VIỆT NAM</p>
            <p>Trụ sở chính: Tầng 11 khối A, tòa nhà Sông Đà, đường Phạm Hùng, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành phố Hà Nội, Việt Nam</p>
            <p>Giấy chứng nhận Đăng ký Kinh doanh số 0105911105 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày 08/06/2012 và sửa đổi lần thứ 10 ngày 05/05/2022</p>
        </div>

        <div>       
                <p>Payment Methods</p>
                <img src="https://aristino.com/Content/pc/images/payment.png" alt="">
        </div>
      </div>
  </div>
</div>

<hr />
<div class="text-center px-5 lg:px-28">
  <div class="flex items-center justify-between">
    <span>
      <p class="">©2023 Oriz. All Rights Reserved</p>
    </span>
    <span>
      <img
        class="w-28"
        src="https://aristino.com/Content/pc/images/Logo-thong-bao-mau-xanh%201.png"
        alt=""
      />
    </span>
  </div>
</div>
