<div class="w-full">
  <div class="bg-gray-900 text-white w-full h-1/2 shadow-lg p-6">
    <div class="flex justify-around">
      <div
        class="flex flex-col"
        *ngFor="let item of category[selectedSection].sections"
      >
        <h1 class="text-center">{{ item.name }}</h1>
        <button
          (click)="
            handleNavigate(
              '/' + selectedSection + '/' + item.id + '/' + section.name
            )
          "
          mat-button
          *ngFor="let section of item.items"
        >
          {{ section.name }}
        </button>
      </div>

      <div class="hidden lg:block">
        <div class="mb-5">
          <img
            src="https://aristino.com/Data/upload/images/BANNER/N%C4%83m%202023/T6-2023/banner-web-1-2-06.png"
            class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
            alt=""
          />
        </div>

        <p class="text-gray-600">New Arrival</p>
      </div>

      <div class="hidden lg:block">
        <div class="mb-5">
          <img
            src="https://aristino.com/Data/upload/images/BANNER/N%C4%83m%202023/T6-2023/banner-web-1-2-06.png"
            class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
            alt=""
          />
        </div>

        <p class="text-gray-600">New Arrival</p>
      </div>
    </div>
  </div>
</div>
