<div class="p-5 shadow-lg">
  <div class="flex items-center">
    <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">
      <img
        class="w-full h-full object-cover object-top"
        [src]="cartItem?.product?.imageUrl"
        alt=""
      />
    </div>

    <div class="ml-5 space-y-1">
      <p class="font-semibold">{{ cartItem?.product?.title }}</p>
      <p class="text-gray-600">Size: M, Red</p>
      <p class="mt-2 text-gray-600">Seller: Oriz</p>

      <div class="flex space-x-2 items-center pt-3">
        <p class="line-through">${{ cartItem?.discountedPrice }}</p>
        <p class="font-semibold text-lg">$199</p>
        <p class="text-green-600 font-semibold">30%</p>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showButton"
  class="flex items-center lg:space-x-10 py-4 justify-between"
>
  <div class="flex items-center space-x-2">
    <div class="example-button-container">
      <button
        mat-mini-fab
        color="accent"
        (click)="updateCartItems(-1)"
        [disabled]="cartItem.quantity === 1 ? 'true' : 'false'"
      >
        <!--  -->
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <div>
      <span class="py-1 px-7 border border-gray-800 rounded-sm">{{
        cartItem.quantity
      }}</span>
    </div>

    <div class="example-button-container">
      <button
        mat-mini-fab
        color="primary"
        (click)="updateCartItems(1)"
        [disabled]="false"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <button (click)="removeCartItem()" color="accent" mat-stroked-button>
    Remove
  </button>
</div>
