<div class="p-5 shadow-lg">
  <div class="flex items-center">
    <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">
      <img
        class="w-full h-full object-cover object-top"
        src="https://aristino.com/Data/ResizeImage/images/product/ao-polo/aps167s3/1-09-1-x500x500x4.webp"
        alt=""
      />
    </div>

    <div class="ml-5 space-y-1">
      <p class="font-semibold">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="text-gray-600">Size: M, Red</p>
      <p class="mt-2 text-gray-600">Seller: Oriz</p>

      <div class="flex space-x-2 items-center pt-3">
        <p class="line-through">$199</p>
        <p class="font-semibold text-lg">$199</p>
        <p class="text-green-600 font-semibold">30%</p>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showButton"
  class="flex items-center lg:space-x-10 py-4 justify-between"
>
  <div class="flex items-center space-x-2">
    <div class="example-button-container">
      <button
        mat-mini-fab
        color="accent"
        (click)="updateCartItem(-1)"
        [disabled]="true"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <div>
      <span class="py-1 px-7 border border-gray-800 rounded-sm"> 1 </span>
    </div>

    <div class="example-button-container">
      <button
        mat-mini-fab
        color="accent"
        (click)="updateCartItem(1)"
        [disabled]="false"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <button (click)="removeCartItem()" color="accent" mat-stroked-button>
    Remove
  </button>
</div>
