<div class="mt-24 space-y-5 px-5 lg:px-20">
  <ng-container>
    <div class="p-5 shadow-lg rounded-md box my-5">
      <app-address-card />
    </div>

    <div
      class="grid grid-cols-1 gap-5 lg:grid-cols-3 relative justify-between py-5"
    >
      <div class="col-span-2">
        <div class="space-y-3 box rounded-sm">
          <div *ngFor="let product of products; let last = last">
            <app-cart-items [showButton]="false"/>
            <mat-divider *ngIf="!last"> </mat-divider>
          </div>
        </div>
      </div>

      <section class="col-span-1 px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0">
        <ng-container>
          <div class="box p-5 rounded-md">
            <p class="font-bold text-gray-500 pb-4">Price Details</p>
            <mat-divider> </mat-divider>

            <div class="space-y-3">
              <div class="flex justify-between pt-3">
                <span>Total Price</span>
                <span>$199</span>
              </div>
              <div class="flex justify-between pt-3">
                <span>Discount</span>
                <span class="text-gray-700">-3199</span>
              </div>
              <div class="flex justify-between pt-3">
                <span>Delivery Cost</span>
                <span class="text-gray-700">-3199</span>
              </div>
              <div class="flex justify-between pt-3 font-semibold text-lg">
                <span>Total</span>
                <span class="text-gray-700">-3199</span>
              </div>
            </div>

            <button
              mat-raised-button
              style="padding: 1.5rem"
              class="text-lg mt-8 p-28 px-10 w-full"
              color="black"
            >
              CHECKOUT
            </button>
          </div>
        </ng-container>
      </section>
    </div>
  </ng-container>
</div>
